@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Black.ttf'),
         url('./Roboto-BlackItalic.ttf'),
         url('./Roboto-Bold.ttf'),
         url('./Roboto-BoldItalic.ttf'),
         url('./Roboto-Italic.ttf'),
         url('./Roboto-Light.ttf'),
         url('./Roboto-LightItalic.ttf'),
         url('./Roboto-Medium.ttf'),
         url('./Roboto-MediumItalic.ttf'),
         url('./Roboto-Regular.ttf'),
         url('./Roboto-Thin.ttf'),
         url('./Roboto-ThinItalic.ttf');
    font-weight: 500;
}
* {
    font-family: 'Roboto', sans-serif;
}