$text: #f7fee7;
$text-dark: hsl(90, 30%, 5%);

$green-darker: hsl(90, 50%, 5%);
$green-dark: hsl(90, 65%, 20%);
$green-normal: hsl(90, 70%, 40%);
$green-normal-light: hsl(90, 80%, 45%);
$green-light: hsl(90, 75%, 50%);
$trans-bg: hsla(120, 80%, 10%, 0.65);